body {
    background-color:black;
  }
  
  h1 {
    color: #00ff00;
    margin-left: 0px;
  }

  h2 {
    font-family: Courier, monospace;
    color: blueviolet
  }

  p {
    color: white;
    margin-left: 0px;
  }